# See: https://documentation.nokia.com/cgi-bin/dbaccessfilename.cgi/3HE14991AAAITQZZA01_V1_Advanced%20Configuration%20Guide%20Part%20II%20for%20Releases%20Up%20To%2022.10.R3.pdf
# page 105

# Cleanup VLANs
delete:
{% for c in [ 11,12,13,14,15,16 ] %}
- configure/service/vpls[service-name=vlan{{c}}]
{% endfor %}

# 7250 IXR does not support using a secondary loopback for GRE (vpn-gre-source-ip), use single loopback
{% set GRE_SRC="10.0.0.4" %}

updates:
- path: configure/service/system
  val:
   bgp-auto-rd-range:
    ip-address: "{{ loopback.ipv4 | ipaddr('address') }}"
    community-value:
     start: 60000
     end: 65000
   # vpn-gre-source-ip: "{{ GRE_SRC }}"

- path: configure/router[router-name=Base]/bgp
  val:
   group:
   - group-name: ibgp-ipv4
     family:
      l2-vpn: True # Add l2-vpn family to existing EVPN group

{# MAC chip loopbacks pxc-1 and pxc-2, not suppported
- path: configure/card[slot-number=1]/mda[mda-slot=1]/xconnect
  val:
   mac:
   - mac-id: 1
     loopback:
     - loopback-id: 1
     - loopback-id: 2

- path: configure/port-xc
  val:
   pxc:
   - pxc-id: 1
     port-id: 1/1/m1/1
     admin-state: enable
     description: "origination"
   - pxc-id: 2
     port-id: 1/1/m1/2
     admin-state: enable
     description: "termination"

{% for id in ['pxc-1.a','pxc-1.b','pxc-2.a','pxc-2.b','1/1/m1/1','1/1/m1/2'] %}
- path: configure/port[port-id={{id}}]
  val:
   admin-state: enable
{%  if 'pxc' in id %}
   ethernet:
    encap-type: dot1q
{%  endif %}
{% endfor %}

# Clients
{% for c in [ 1,2,3,4,5,6 ] %}
- path: configure/service/vprn[service-name=client-{{c}}]
  val:
   admin-state: enable
   customer: "1"
   service-id: {{ 10 + c }}
   interface:
   - interface-name: ping
     ipv4:
      primary:
       address: "10.0.{{ c + 10 }}.{{ c + 10 }}"
       prefix-length: 24
     sap:
     - sap-id: "pxc-1.b:{{ c }}"
{% endfor %}
 #}

- path: configure/router[router-name=Base]
  val:
   # interface:
   # - interface-name: lo1
   #   ipv4:
   #    primary:
   #     address: "{{ GRE_SRC }}" # unique subnet
   #     prefix-length: 24
   #   loopback: [null]
   #   gre-termination: True
   #   admin-state: enable
   # ospf:
   # - ospf-instance: 0
   #   area:
   #   - area-id: "0.0.0.0"
   #     interface:
   #     - interface-name: lo1
   #       passive: True
   ldp:
    targeted-session:
     peer:
     - ip-address: "10.0.0.5"
       local-lsr-id: 
        interface-name: system
   mpls:
    path: # Used by BGP-VPLS
    - path-name: loose
      admin-state: enable
    lsp:
    - lsp-name: "R3-R4"
      type: p2p-rsvp
      admin-state: enable
      to: 10.0.0.5
      primary:
      - path-name: "loose"

- path: configure/service
  val:
   sdp:
   - sdp-id: 120
     admin-state: enable
     signaling: tldp  # default
     far-end:
      ip-address: "10.0.0.5"
     # local-end: "{{ GRE_SRC }}" # implied
     delivery-type: mpls # Must be specified, not implied by source address and cannot be 'gre'
     lsp:
     - lsp-name: "R3-R4"

   - sdp-id: 121
     admin-state: enable
     signaling: bgp
     far-end:
      ip-address: "10.0.0.5"  # Must match BGP peering IP
     # local-end: "{{ GRE_SRC }}" # implied
     delivery-type: mpls # Must be specified, not implied by source address and cannot be 'gre'
     lsp:
     - lsp-name: "R3-R4"

   pw-template:
   - pw-template-name: "PW1-use-prov-SDP"
     pw-template-id: 1
     provisioned-sdp: use
     control-word: False  # default
     vc-type: ether       # default, also 'vlan' is available
     force-vc-forwarding: vlan # add a tag (equivalent to vc-type vlan) and allows for customer QoS transparency (dot1p + Drop Eligibility (DE) bits)

- path: configure/service/vpls[service-name=VPLS-11]
  val:
   admin-state: enable
   customer: "1"
   service-id: 11
   description: "VPLS 1 with manually configured spoke-SDP"
   sap:
   - sap-id: "1/1/1:11"
   spoke-sdp:
   - sdp-bind-id: "120:11"

- path: configure/service/epipe[service-name=Epipe-12]
  val:
   admin-state: enable
   customer: "1"
   service-id: 12
   description: "Epipe 2 with manually configured spoke-SDP"
   sap:
   - sap-id: "1/1/1:12"
   spoke-sdp:
   - sdp-bind-id: "120:12"

- path: configure/service/vpls[service-name=BGP-VPLS-13]
  val:
   admin-state: enable
   customer: "1"
   service-id: 13
   description: "BGP-VPLS with use provisioned SDP instead of spoke"
   bgp:
   - bgp-instance: 1
     route-distinguisher: "auto-rd"
     route-target:
      export: "target:64500:13"
      import: "target:64500:13"
     pw-template-binding:
     - pw-template-name: "PW1-use-prov-SDP"
   bgp-vpls:
    admin-state: enable
    maximum-ve-id: 100
    ve:
     name: "r3"
     id: 3
   sap:
   - sap-id: "1/1/1:13"

- path: configure/service/vpls[service-name=BGP-AD-VPLS-14]
  val:
   admin-state: enable
   customer: "1"
   service-id: 14
   description: "BGP-AD for LDP VPLS with use provisioned SDP"
   bgp:
   - bgp-instance: 1
     route-distinguisher: "auto-rd"
     route-target:
      export: "target:64500:14"
      import: "target:64500:14"
     pw-template-binding:
     - pw-template-name: "PW1-use-prov-SDP"
   bgp-ad:
    vpls-id: "64500:14"
    admin-state: enable
   sap:
   - sap-id: "1/1/1:14"

# See RFC 4447, Pseudowire Setup and Maintenance Using the Label Distribution Protocol (LDP)
- path: configure/service/epipe[service-name=BGP-VPWS-15]
  val:
   admin-state: enable
   customer: "1"
   service-id: 15
   description: "BGP-VPWS with use provisioned SDP"
   bgp:
   - bgp-instance: 1
     route-distinguisher: "auto-rd"
     route-target:
      export: "target:64500:15"
      import: "target:64500:15"
     pw-template-binding:
     - pw-template-name: "PW1-use-prov-SDP"
   bgp-vpws:
    admin-state: enable
    local-ve:
     name: "R3"
     id: 3
    remote-ve:
     name: "R4"
     id: 4
   sap:
   - sap-id: "1/1/1:15"

- path: configure/service/epipe[service-name=BGP-EVPN-VPWS]
  val:
   admin-state: enable
   customer: "1"
   service-id: 16
   description: "EVPN for MPLS Tunnels in Epipe Services (EVPN-VPWS)"
   bgp:
   - bgp-instance: 1
   bgp-evpn:
    evi: 16 # RD/RT are auto-derived from this
    mpls:
    - bgp-instance: 1
      admin-state: enable
      ecmp: {{ 2 if 'ixr' in clab.type else 32 }}
      # ingress-replication-bum-label: True # TODO, requires reserved label range
      auto-bind-tunnel:
       resolution: any
       # resolution-filter:
       #  ldp: True # Without this, preference is given to RSVP
       ecmp: {{ 2 if 'ixr' in clab.type else 32 }}
    local-attachment-circuit:
    - name: r3
      eth-tag: 33
    remote-attachment-circuit:
    - name: r4
      eth-tag: 44
   sap:
   - sap-id: "1/1/1:16"
