{% set GRE_SRC="10.0.255.1" %}

updates:
- path: configure/service/system
  val:
   bgp-auto-rd-range:
    ip-address: "{{ loopback.ipv4 | ipaddr('address') }}"
    community-value:
     start: 60000
     end: 65000
   vpn-gre-source-ip: "{{ GRE_SRC }}"

- path: configure/router[router-name=Base]
  val:
   interface:
   - interface-name: lo1
     ipv4:
      primary:
       address: "{{ GRE_SRC }}" # unique subnet
       prefix-length: 24
     loopback: [null]
     gre-termination: True
     admin-state: enable
   ospf:
   - ospf-instance: 0
     area:
     - area-id: "0.0.0.0"
       interface:
       - interface-name: lo1
         passive: True

- path: configure/router[router-name=Base]/bgp
  val:
   group:
   - group-name: l2-vpn
     admin-state: enable
     local-address: "{{ GRE_SRC }}"
     peer-as: 65000
     cluster:
      cluster-id: "{{ GRE_SRC }}"
     family:
      l2-vpn: True
     import:
      policy: ["accept_all"]
     export:
      policy: ["accept_all"]
   - group-name: ibgp-ipv4
     peer-ip-tracking: true
     split-horizon: true
     family:
      l2-vpn: True # For IXR nodes, use single group for both protocol families
   neighbor:
   - ip-address: 10.0.1.1
     group: l2-vpn
   - ip-address: 10.0.2.1
     group: l2-vpn
